@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #606060;
  --secondary: #f7f7f7;
  --tertiary: #4534ac;

  --gray-1: #797979;
  --gray-2: #cccccc;
  --gray-3: #f4f4f4;
  --gray-4: #999999;
  --gray-5: #ebebeb;
  --gray-6: #666;
  --gray-7: #dddddd;
  --gray-8: #757575;
  --gray-9: #868686;
  --gray-10: #e9e9e9;
  --gray-11: #555;
  --gray-12: #f9f9f9;
  --gray-13: #dedede;
  --gray-14: #f3f3f3;
  --gray-15: #666;

  --white: #ffffff;

  --background-gradient-1: linear-gradient(to bottom right, #ffffff, #afa3ff);
  --button-gradient-1: linear-gradient(to bottom, #4c38c2, #2f2188);
  --button-gradient-2: linear-gradient(to bottom, #3a3a3a, #202020);
  --button-border-gradient: linear-gradient(#4b36cc, #9c93d4);
  --background-gradient-2: linear-gradient(
    to bottom,
    var(--secondary),
    #f0f0f0
  );

  --auth-navigate-color: #0054a1;

  --danger: #ff6b6b;
  --orange: #ffa235;
  --success: #0ecc5a;

  /* sizes */
  --Size-XXL: 48px;
  --Size-XL: 36px;
  --Size-L: 24px;
  --Size-M: 20px;
  --Size-S: 16px;
  --Size-SM: 14px;
  --Size-XSM: 12px;
  --Size-XXSM: 8px;

  /* padding */
  --Size-P-XXSM: 8px;

  --Border-Radius-SM: 8px;

  --font-xxl: 32px;
  --font-xl: 24px;
  --font-l: 20px;
  --font-b: 16px;
  --font-sm: 14px;
  --font-xsm: 12px;
}

body {
  @apply flex-center h-screen;
}

@layer components {
  .primary-button {
    background: var(--button-gradient-1);
    border-radius: var(--Border-Radius-SM);
    border-bottom: 2px solid var(--button-border-gradient);
    padding: var(--Size-S) 0px;
    color: var(--white);
    width: 100%;

    gap: var(--Size-XXSM);
  }

  .secondary-button {
    background: var(--button-gradient-2);
    border-radius: var(--Border-Radius-SM);
    padding: var(--Size-XXSM) 0px;
    color: var(--white);
    @apply h-10 w-full;
  }

  .tertiary-button {
    background-color: var(--gray-3);
    color: var(--gray-1);

    @apply h-10 gap-[var(--Size-SM)] p-[var(--Size-XXSM)] bor-4;
  }

  .input {
    width: 100%;
    padding: var(--Size-S) var(--Size-SM);
    background-color: var(--gray-5);
    outline: 0;
    border-radius: var(--Size-XXSM);
    &::placeholder {
      color: var(--gray-4);
    }

    &:focus {
      border: 2px solid var(--gray-4);
    }
  }
}
@layer utilities {
  .heading-1 {
    font-size: var(--font-xxl);
  }

  .bg-gradient-1 {
    background: var(--background-gradient-1);
  }

  .bg-gradient-2 {
    background: var(--background-gradient-2);
  }

  .--black-button {
    background: var(--button-gradient-2);
  }

  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .danger-text {
    color: var(--danger);
  }

  /* borders classes */
  .bor-3 {
    border-radius: var(--Border-Radius-SM);
  }
  .bor-4 {
    border-radius: 4px;
  }

  .base-icon {
    color: inherit;
    @apply h-6 w-6 cursor-pointer;
  }
  .dot {
    @apply absolute top-0 right-0 inline-block h-[9px] w-[9px] rounded-full bg-[--orange];
  }

  .text-xsm {
    font-size: var(--font-xsm);
  }

  .center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .darken-filter {
    &:hover {
      filter: brightness(97%);
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
